@import '../../style/varibles.scss';
@import '../../style/theme.scss';

.page {
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
  position: relative;
  .login-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1392rpx;
    background-color: #FFFFFF;
    border-radius: 30rpx 30rpx 0px 0px;
    overflow: hidden;
    .header {
      width: 100%;
      height: 88rpx;
      line-height: 88rpx;
      display: flex;
      flex-direction: row;
      .tab {
        flex: 1;
        text-align: center;
        font-size: 14px;
        color: $text-color;
        letter-spacing: 0;
        font-weight: 400;
        border-bottom: 4rpx solid #FFFFFF;
        &.active {
          color: $text-active-color;
          border-bottom-color: $primary-color;
        }
      }
    }
    .content {
      padding: 0 70rpx;
      .title {
        margin-top: 84rpx;
        font-size: 48rpx;
        color: #002251;
        letter-spacing: 0;
        font-weight: 500;
        margin-bottom: 14rpx;
      }
      .title-tips {
        height: 40rpx;
        font-size: 28rpx;
        color: #7A869A;
        letter-spacing: 0;
        line-height: 40rpx;
        font-weight: 400;
        margin-bottom: 70rpx;
      }
      .form-item {
        margin-bottom: 50rpx;
        .lable {
          height: 26rpx;
          margin-top: 10rpx;
          margin-bottom: 28rpx;
          font-size: 28rpx;
          color: #c1c7d0;
          letter-spacing: 0;
          font-weight: 400;
        }

        input {
          height: 88rpx;
          opacity: 0.75;
          background: #F2F4F7;
          border-radius: 30rpx;
          box-shadow: inset 0rpx 2rpx 4rpx 0rpx rgba(0,0,0,0.04);
          padding: 0 32rpx;
          .placeholder {
            height: 30rpx;
            opacity: 0.5;
            font-size: 32rpx;
            color: #7A869A;
            letter-spacing: 0;
            font-weight: 400;
          }
        }
      }

      .forget-password {
        font-size: 26rpx;
        color: #0041c4;
        letter-spacing: 0;
        font-weight: 400;
        margin-bottom: 48rpx;
      }

      button {
        height: 88rpx;
        background: #0041c4;
        color: #FFFFFF;
        border-radius: 20rpx;
        font-size: 32rpx;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
      }
      .create-account {
        width: 100%;
        margin-top: 260rpx;
        display: inline-block;
        text-align: center;
        height: 28rpx;
        font-size: 28rpx;
        color: #7A869A;
        letter-spacing: 0;
        line-height: 28rpx;
        font-weight: 400;
        .action {
          display: inline;
          color:#0041c4;
        }
      }
    }
  }
}